.button {
    &-container {
        display: flex;
        align-items: center;
        justify-content: center;
        
        height: 4rem;

        box-shadow: 0px 0.5rem 1rem #00000029;
        border-radius: 1rem;
        font-size: 1.2rem;
        line-height: 1.5rem;
        text-transform: uppercase;
        text-decoration: none;
        color: $WHITE;
    
        &:hover {
            text-decoration: none;
        }
            
        &--nav {
            width: 20rem;
            background: transparent linear-gradient(180deg, $PRIMARY 0%, $SECUNDARY 100%) 0% 0% no-repeat padding-box;
        }
    
        &--form {
            width: 16rem;
            background: $BLACK 0% 0% no-repeat padding-box;
        }
    }
}
