@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background: $BLACK;
}

h1, a {
    font-weight: $REGULAR;
    color: $WHITE;
}

h1 {
    font-size: 22px;
    line-height: 27px;
}

a {
    font-size: 12px;
    line-height: 15px;
    text-transform: uppercase;
}

p {
    font-size: 15px;
    line-height: 24px;
    font-weight: $LIGHT;
}
