@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400&display=swap');

* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
    color: $WHITE;
}

html {
    background: #2D2D2D 0% 0% no-repeat padding-box;
    border: 1px solid #707070;
    font-size: 62.5%;

    height: 100vh;
}

body {
    margin: 0 auto;
    max-width: 980px;
}

main {
    padding: 2rem 2rem;
}

h1, a {
    font-weight: $REGULAR;
}

h1 {
    text-align: center;

    font-size: 2.2rem;
    line-height: 2.7rem;
}

p {
    font-size: 1.5rem;
    line-height: 2.4rem;
    font-weight: $LIGHT;
}
