.header {
    &-container {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: flex-end;

        height: 24rem;
    }

    &-logo {
        margin: 6rem;

        width: 16rem; 
        height: 6.1022rem; 
    }

    &-nav {
        display: flex;

        a + a {
            margin-left: 1.7rem;
        }
    }
}
